.login-container {
  width: 300px;
  height: 340px;
  background-color: #e6e6e6;
  border-radius: 50px;
  box-shadow: 0 0 2px 1px #cdcdcd;
  position: relative;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin-title {
  display: flex;
  justify-content: center;
}

#login-email-input {
  padding: 10px;
  background-color: #32616e;
  border-radius: 10px;
}

#login-email-input-label {
  font-size: 0.8rem;
  top: -4px;
  color: white;
}

#login-password-input {
  padding: 10px;
  background-color: #32616e;
  border-radius: 10px;
}

#login-password-input-label {
  font-size: 0.8rem;
  top: -4px;
  color: white;
}

.login__input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__input-field {
  margin: 15px 0;
}

.login__user-actions {
  display: flex;
  justify-content: space-between;
}
.width__70 {
  width: 70%;
}
.font-size__700 {
  font-size: 0.7rem;
}

.login-button-color {
  position: absolute;
  bottom: 30px;
  border-radius: 4px;
  background-color: #06d48c;
  border: none;
  padding: 0.5rem;
  box-shadow: 0px 2px 2px 1px gray;
}

.login__subTitle {
  font-size: 0.8rem;
  padding: 0.5em 1em;
  text-align: center;
}

.login__input-field > .MuiTextField-root > .Mui-focused {
  color: black !important;
}

.g-signin {
  position: absolute;
  bottom: 0;
}
