.g-signin {
  position: absolute;
  bottom: 0;
}

.eye-color {
  color: var(--primary-color);
}
.login__button {
  background-color: var(--primary-color) !important;
}
.primary__color {
  color: var(--primary-color) !important;
}

.primary__background-color {
  background-color: var(--primary-color) !important;
}
.login__background-color {
  background: linear-gradient(45deg, white, var(--primary-color));
}
.login__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px 0;
}
.custom__input-space {
  padding-left: 35px !important;
}
