:root {
  --primary-color-100: rgba(115, 112, 216, 0.1);
  --primary-color-200: rgba(115, 112, 216, 0.2);
  --primary-color-300: rgba(115, 112, 216, 0.3);
  --primary-color-400: rgba(115, 112, 216, 0.4);
  --primary-color-500: rgba(115, 112, 216, 0.5);
  --primary-color-600: rgba(115, 112, 216, 0.6);
  --primary-color-700: rgba(115, 112, 216, 0.7);
  --primary-color-800: rgba(115, 112, 216, 0.8);
  --primary-color-900: rgba(115, 112, 216, 0.9);
  --primary-color: rgba(115, 112, 216, 1);
  --primary-color-800: rgba(115, 112, 216, 0.8);
}

.font-size__1000 {
  font-size: 1rem !important;
}

.css-fjlme8:focus,
a {
  box-shadow: none !important;
  color: gray;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

fieldset {
  border: none !important;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
